@model EasyHosts.Dashboard.Models.Perfil

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card" style="background-image: url(../../Content/Images/icons/spot-illustrations/corner-1.png);">
    </div>

    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
                <h3>Detalhes do Perfil</h3>
                <p class="mb-0">Visualização dos detalhes.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0">Informações</h5>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="tab-content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>